// Component

// Title
%title{
  font-size: $titleFontSize;
  color: $titleColor;
  font-weight: $fontBold;
}

.section-title{
  @extend %title;
}

.page-title{
  @extend %title;
  text-transform: uppercase;
}

// Links
.link{
  font-size: $linkFontSizeDefault;
  color: $lincColor;

  &.large-link{
    font-size: $linkLargeFont;
  }

  &:hover{
    color: $linkHoverColor;
  }

}

// Buttons
.btn{
  padding: 12px 22px;
  font-size: $btnFontSize;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }

  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }

  }

  &.btn-disabled{
    background-color: $btnDisabledBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisabledBgHover;
    }

  }

}

// Table
.table{
  border-collapse: collapse;
  font-size: $tableFontSize;

  tbody{

    tr{

      &:hover{
        background-color: $tableTrHover;
      }

    }

  }

  tr{

    th{
      padding: 30px 18px;
      color: $grey;
    }

    td{
      border-top: 1px solid $lightGrey;
      padding: 18px;

      &.td-title{
        font-size: 16px;
        color: $grey;
      }

    }

  }

  .table-sort{
    color: $grey;
    padding: 8px 10px;
    margin: -8px -10px;
    border-radius: 2px;
    cursor: pointer;

    &:hover{
      background-color: $xsLightGrey;
      color: $black;
    }

  }

}

// Color tabs
.color-tab{
  padding: 12px 17px;
  font-size: $titleFontSize;
  font-weight: $fontRegular;
  color: $grey;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;

  &:hover, &:active{
    background-color: $lightGrey;
  }

  .circle{
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &>span{
    vertical-align: middle;
  }

  &.color-tab-active{
    background-color: $lightGrey;
  }

}

// Input
.form-control{
  border: 1px solid $lightGrey;
  border-radius: 2px;
  font-size: $inputFontSize;
  padding: 12px 16px;

  &::placeholder{
    color: $lightGrey;
  }

  &:hover, &:focus{
    border-color: $grey;
  }

  &:hover &::placeholder, &:focus &::placeholder{
    color: $darkGrey;
  }

  &.form-control-disabled{
    background-color: $xsLightGrey;

    &::placeholder{
      color: $darkGrey;
    }

    &:hover, &:focus{
      border-color: $lightGrey;
      cursor: not-allowed;
    }

  }

  &:disabled{
    background-color: $xsLightGrey;

    &::placeholder{
      color: $darkGrey;
    }

    &:hover, &:focus{
      border-color: $lightGrey;
      cursor: not-allowed;
    }

  }

  &.form-control-invalid{
    border: 2px solid $red;
  }

}

//Notification
.notification{
  padding: 12px 14px 12px 23px;
  font-size: $notificationFontSize;
  color: $notificationColor;
  cursor: pointer;

  &.neg-notification{
    background-color: $lightPink;

    &:hover{
      background-color: $pink;
    }

  }

  &.pos-notification{
    background-color: $xsLightGreen;

    &:hover{
      background-color: $lightGreen;
    }

  }

}





