// default bg colors
.black{
  background-color: $black;
}
.dark-grey{
  background-color: $darkGrey;
}
.grey{
  background-color: $grey;
}
.light-grey{
  background-color: $lightGrey;
}
.xs-light-grey{
  background-color: $xsLightGrey;
}
.orange{
  background-color: $orange;
}
.orange-light{
  background-color: $orangeLight;
}
.green{
  background-color: $green;
}
.light-green{
  background-color: $lightGreen;
}
.xs-light-green{
  background-color: $xsLightGreen;
}
.red{
  background-color: $red;
}
.pink{
  background-color: $pink;
}
.light-pink{
  background-color: $lightPink;
}
.blue{
  background-color: $blue;
}


.text-bold{
  font-weight: $fontBold;
}